/* Josefin font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');
/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    /*============ Font Family ============*/
    --main-header-font: 'Josefin Sans', sans-serif;
    --body-text: 'Poppins', sans-serif;
    --section-title: 'Open Sans', sans-serif;
    --testimonial-text: 'Open Sans', sans-serif;
    --button-font: 'Poppins', sans-serif;
    /*============ Font Size ============*/
    --big-font-size: 7.2rem;
    --h2-font-size: 3.6rem;
    --h3-font-size: 2.2rem;
    --heading-title: 2.8rem;
    --body-text-font-size: 1.8rem;
    --button-font-size: 1.6rem;
    --input-box-font-size: 1.8rem;
    --menu-item-font-size: 2.2rem;
    --testimonial-font-size: 1.4rem;
    /*============ Font weight ============*/
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    /*============ All color ============*/
    /* #FFB243 #212529 */
    --section-bg: #F8FBF5;
    --white-color: #ffffff;
    --header-color: #2C3722;
    --nav-normal-color: #8D8D8D;
    --nav-hover-color: #000000;
    --section-title-color: #FEBD00;
    --button-color: linear-gradient(to right, #8CB560, #639D2B);
    --button-color-hover: linear-gradient(to left, #8CB560, #639D2B);
    --button-shadow-color: rgba(89, 136, 43, 0.30);
    --section-text-color: #545454;
    --food-menu-hover-color: #FCFFF8;
}

/***************************************
            GLOBAL STYLING
***************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.btn,
.btn:active,
.btn:visited {
    color: var(--white-color);
    font-family: var(--button-font);
    font-size: var(--button-font-size);
    font-weight: var(--font-semi-bold);
}

.btn_green {
    display: inline-block;
    background: var(--button-color);
    padding: 1.5rem 2.5rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 3rem var(--button-shadow-color);
    letter-spacing: 2px;
    transition: .5s;
}

.btn_green:hover {
    transform: scale(1.02);
}

.btn_green:active {
    transform: scale(.95);
}

.secondary_heading {
    font-family: var(--section-title);
    font-size: var(--body-text-font-size);
    color: var(--section-title-color);
    text-transform: capitalize;
}

.primary_heading {
    font-family: var(--main-header-font);
    font-size: var(--h2-font-size);
    font-weight: var(--font-normal);
    margin: 1rem 0;
    line-height: 1.2;
}

.center_heading {
    text-align: center;
}