/***************************************
            HEADER SECTION STYLING
***************************************/
.section_hero {
    padding: 4.5rem 0;
    background: linear-gradient(#F8FBF5, #F9FCF7, #FFFFFF);

}

.section_hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;


}

.section__title {
    font-family: var(--main-header-font);
    font-size: var(--big-font-size);
    color: var(--header-color);
    font-weight: 300;
    line-height: 1.2;
}

.section__text {
    font-family: var(--body-text);
    font-size: 2rem;
    font-weight: var(--font-normal);
    line-height: 3rem;
    color: #636465;
    padding: 3.6rem 0;
}

.section__img {
    width: 80%;
}

.section_btn {
    display: flex;
    align-items: center;
}


.section_btn input {
    border: none;
    outline: none;
    padding: 1.5rem 15rem 1.5rem 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 3rem var(--button-shadow-color);
}

.btn_green {
    display: inline-block;
    margin-left: 3rem;
    background: var(--button-color);
    padding: 1.5rem 2.5rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 3rem var(--button-shadow-color);
    letter-spacing: 2px;
    transition: .5s;
}

.btn_green:hover {
    transform: scale(1.02);
}

.btn_green:active {
    transform: scale(.95);
}

.section_btn input[placeholder] {
    font-family: var(--button-font-size);
    font-size: var(--button-font-size);
    font-weight: var(--font-normal);
    color: #B7B7B7;
}

/***************************************
            HEADER SECTION STYLING
***************************************/
.section_about .container {
    display: flex;
    height: 600px;
    justify-content: center;
}

.about_left {
    width: 50%;
}

.about_right {
    width: 50%;
    margin-left: 5rem;
}

.section_name {
    font-family: var(--section-title);
    font-size: var(--heading-title);
    color: var(--section-title-color);
}

.section_heading {
    font-family: var(--main-header-font);
    font-size: var(--h2-font-size);
    font-weight: var(--font-normal);
    margin: 2rem 0;
    line-height: 1.2;
}

.section__text {
    font-size: var(--body-text-font-size);
    font-weight: 400;
    color: var(--section-text-color);
    text-align: justify;
    line-height: 1.9;
}

.section__text span {
    display: block;
    margin-bottom: 2rem;
}

.about_right .btn_green {
    margin-left: 0;

}